body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.pure-table {
    width: 100%;
}

.pure-table th {
    font-size: 14px;
    text-align: center;
    padding: 5px;
}
.pure-table td {
    font-size: 12px;
    padding: 5px;
}

.pure-table td.button-column {
    width: 50px;
    text-align: center;
}

.pure-table td.center {
    text-align: center;
}
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

#sw-layout {
    position: relative;
    left: 0;
    padding-left: 0;
    width: 1090px;
}

#sw-left-content {
    margin-left: 10px;
    width: 500px;
    display: inline-block;
    vertical-align: top;
}

#sw-right-content {
    margin-left: 10px;
    width: 500px;
    display: inline-block;
    vertical-align: top;
}

.sw-loading {
    text-align: center;
    width: 100%;
}

.sw-loading img {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 4px;
}

#sw-sysinfo-container {
    margin-top: 10px;
}
#sw-memory-container {
    margin-top: 10px;
}
#sw-ip-container {
    position: relative;
    margin-top: 5px;
    padding-top: 4px;
    width: 200px;
    min-height: 44px;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
}

#sw-services-container {
    margin-top: 10px;
}

#sw-scripts-container {
    margin-top: 10px;
}

#sw-tty-container {
    position: relative;
    padding: 5px;
    border: 2px solid #191818;

    background-color: #191818;
    margin-top: 10px;
}

.sw-tty-error {
    padding: 10px;
    color: red;
}

.sw-tty-output {
    padding: 10px;
    color: white;
}
