{{ define "layout/index.html" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{{ .title }}</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="/assets/css/pure-min.css"
        />

        <link rel="stylesheet" type="text/css" href="/assets/css/swerver.css" />
        <link rel="shortcut icon" href="/assets/favicon.ico" />

        <script src="/assets/js/cash-4.1.2.min.js"></script>
        <script src="/assets/js/swerver.js"></script>
    </head>
    <body>
        <div id="sw-layout">
            <div id="sw-left-content">
                <div id="sw-sysinfo-container"></div>
                <div id="sw-memory-container"></div>
                <div id="sw-ip-container"></div>
                <div id="sw-services-container"></div>
                <div id="sw-scripts-container"></div>
            </div>
            <div id="sw-right-content">
                <div id="sw-tty-container"></div>
            </div>
        </div>
    </body>
</html>
{{ end }}
