{{ define "ajax/memory.html"}}
<table class="pure-table">
    <thead>
        <tr>
            <th>Total</th>
            <th>Used</th>
            <th>Free</th>
            <th>Buff/Cache</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="center">{{ .total }}M</td>
            <td class="center">{{ .used }}M</td>
            <td class="center">{{ .free }}M</td>
            <td class="center">{{ .buffcache }}M</td>
            <td class="center">{{ .available }}M</td>
        </tr>
    </tbody>
</table>
{{ end }}
