{{ define "ajax/memory.html"}}
<table class="pure-table">
    <tbody>
        <tr>
            <td>Total:</td>
            <td>{{ .total }}M</td>
        </tr>
        <tr>
            <td>Used</td>
            <td>{{ .used }}M</td>
        </tr>
        <tr>
            <td>Free</td>
            <td>{{ .free }}M</td>
        </tr>
        <tr>
            <td>Buff/Cache</td>
            <td>{{ .buffcache }}M</td>
        </tr>
        <tr>
            <td>Available</td>
            <td>{{ .available }}M</td>
        </tr>
    </tbody>
</table>
{{ end }}
