{{ define "ajax/scripts.html"}}
<table class="pure-table">
    <thead>
        <tr>
            <th>Script</th>
            <th>Run</th>
    </thead>
    <tbody>
        {{ range .scripts }}
        <tr>
            <td>{{ . }}</td>
            <td><button class="button-success pure-button sw-ajax-button"
                        data-action="run-script"
                        data-script="{{ . }}">Run</button></td>
        {{ end }}
    </tbody>
</table>
<div>Scripts Path: {{.path}}</div>
{{ end }}
