{{ define "ajax/services.html"}}
<table class="pure-table">
    <thead>
        <tr>
            <th>Service</th>
            <th>Status</th>
            <th>Stop</th>
            <th>Start</th>
            <th>Restart</th>
        </tr>
    </thead>
    <tbody>
        {{ range.services }}
        <tr>
            <td>{{.Name}}</td>
            <td class="button-column">{{.ResponseString}}</td>
            <td class="button-column">
                {{ if .IsActive }}
                <button
                    class="button-warning pure-button sw-ajax-button"
                    data-action="systemctl-command"
                    data-command="stop"
                    data-service="{{ .Name }}"
                >
                    stop
                </button>
                {{ end }}
            </td>
            <td class="button-column">
                {{ if not .IsActive }}
                <button
                    class="button-success pure-button sw-ajax-button"
                    data-action="systemctl-command"
                    data-command="start"
                    data-service="{{ .Name }}"
                >
                    start
                </button>
                {{ end }}
            </td>
            <td class="button-column">
                {{ if .IsActive }}
                <button
                    class="button-secondary pure-button sw-ajax-button"
                    data-action="systemctl-command"
                    data-command="restart"
                    data-service="{{ .Name }}"
                >
                    restart
                </button>
                {{ end }}
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
