{{ define "ajax/services.html"}}
<table class="pure-table">
    <thead>
        <tr>
            <th>Service</th>
            <th>Status</th>
            <th>Stop</th>
            <th>Start</th>
            <th>Restart</th>
        </tr>
    </thead>
    <tbody>
        {{ range .services }}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.ResponseString}}</td>
            <td>
            {{ if .IsActive }}
                <button class='button-warning pure-button' 
                        data-type="service" 
                        data-action="stop" 
                        data-name="{{ .Name }}">stop</button>
            {{ end }}
            </td>
            <td>
            {{ if not .IsActive }}
                <button class='button-success pure-button'
                        data-type="service" 
                        data-action="start" 
                        data-name="{{ .Name }}">start</button>
            {{ end }}
            </td>
            <td>
            {{ if .IsActive }}
                <button class='button-secondary pure-button'
                        data-type="service" 
                        data-action="restart" 
                        data-name="{{ .Name }}">restart</button>
            {{ end }}
            </td>           
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}
